<!DOCTYPE html>
<html>
<head>
	<title>chat app</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
	<script src="./../node_modules/socket.io/lib/socket.js"></script>
	<script>var sockett=io.connect("http://localhost:2003/");</script>
</head>
<body>
<form action="">
      <input id="m" autocomplete="off" />
      <button>Send</button>
</form>
<script src="/chat.js"></script>
</body>
</html>